<div class="dropdown-container hidden inventea-mobile-dropdown-menu">
    <a href="#" class="dropdown-trigger inventea-toggle"><i class="icon fa fa-bars"></i></a>
    <div class="dropdown hidden">
        <div class="pointer"><div class="pointer-inner"></div></div>
        	<ul class="dropdown-contents" role="menubar">
				<li>
					<a href="{{ U_INDEX }}" role="menuitem">
						<span>{{ Icon('font', 'home', lang('INDEX'), false) }}</span>
					</a>
				</li>		
				{% EVENT overall_header_navigation_prepend %}

				<li {% if not S_USER_LOGGED_IN %}data-skip-responsive="true"{% else %}data-last-responsive="true"{% endif %}>
					<a href="{{ U_FAQ }}" rel="help" title="{{ lang('FAQ_EXPLAIN') }}" role="menuitem">
						<span title="{{ lang('FAQ_EXPLAIN') }}">{{ Icon('font', 'question-circle', lang('FAQ'), false) }}</span>
					</a>
				</li>
				{% EVENT navbar_header_quick_links_before %}

				{% if S_DISPLAY_SEARCH %}
				<li>
					<a href="{{ U_SEARCH }}" role="menuitem">
						<span>{{ Icon('font', 'search', lang('SEARCH'), false) }}</span>
					</a>
				</li>
							
				{% if S_REGISTERED_USER %}
				<li>
					<a href="{{ U_SEARCH_SELF }}" role="menuitem">
						<span>{{ Icon('font', 'file', lang('SEARCH_SELF'), false, 'far icon icon-gray') }}</span>
					</a>
				</li>
				{% endif %}
							
				{% if S_USER_LOGGED_IN %}
				<li>
					<a href="{{ U_SEARCH_NEW }}" role="menuitem">
						<span>{{ Icon('font', 'file', lang('SEARCH_NEW'), false, 'far icon icon-red') }}</span>
					</a>
				</li>
				{% endif %}
							
				{% if S_LOAD_UNREADS %}
				<li>
					<a href="{{ U_SEARCH_UNREAD }}" role="menuitem">
						<span>{{ Icon('font', 'file', lang('SEARCH_UNREAD'), false, 'far icon icon-red') }}</span>
					</a>
				</li>
				{% endif %}	
						
				<li>
					<a href="{{ U_SEARCH_UNANSWERED }}" role="menuitem">
						<span>{{ Icon('font', 'file', lang('SEARCH_UNANSWERED'), false, 'far icon icon-gray') }}</span>
					</a>
				</li>
				<li>
					<a href="{{ U_SEARCH_ACTIVE_TOPICS }}" role="menuitem">
						<span>{{ Icon('font', 'file-lines', lang('SEARCH_ACTIVE_TOPICS'), false, 'far icon icon-blue') }}</span>
					</a>
				</li>
				{% if U_MARK_FORUMS %}
				<li>
					<a href="{{ U_MARK_FORUMS }}" role="menuitem" accesskey="m" data-ajax="mark_forums_read">
						<span>{{ Icon('font', 'book-open-reader', lang('MARK_FORUMS_READ'), false) }}</span>
					</a>
				</li>
				{% endif %}				
				<li class="separator"></li>
	
				{% endif %}

				{% EVENT navbar_header_quick_links_after %}

				{% if not S_IS_BOT %}
				{% if S_DISPLAY_MEMBERLIST %}
				<li>
					<a href="{{ U_MEMBERLIST }}" role="menuitem">
						<span>{{ Icon('font', 'users', lang('MEMBERLIST'), false) }}</span>
					</a>
				</li>
				{% endif %}
				{% if U_TEAM %}
				<li>
					<a href="{{ U_TEAM }}" role="menuitem">
						<span>{{ Icon('font', 'shield-halved', lang('THE_TEAM'), false) }}</span>
					</a>
				</li>
				{% endif %}
				{% endif %}

				{% if U_ACP %}
				<li data-last-responsive="true">
					<a href="{{ U_ACP }}" title="{{ lang('ACP') }}" role="menuitem">
						<span>{{ Icon('font', 'cogs', lang('ACP_SHORT'), false) }}</span>
					</a>
				</li>
				{% endif %}

				{% if U_MCP %}
				<li data-last-responsive="true">
					<a href="{{ U_MCP }}" title="{{ lang('MCP') }}" role="menuitem">
						<span>{{ Icon('font', 'gavel', lang('MCP_SHORT'), false) }}</span>
					</a>
				</li>
				{% endif %}
				{% EVENT overall_header_navigation_append %}
			</ul>
    </div>
</div>
