<!DOCTYPE html>
<html dir="{{ S_CONTENT_DIRECTION }}" lang="{{ S_USER_LANG }}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ SITE_SHORTNAME }}">
{{ META }}
<title>{% if UNREAD_NOTIFICATIONS_COUNT %}({{ UNREAD_NOTIFICATIONS_COUNT }}) {% endif %}{% if not S_VIEWTOPIC and not S_VIEWFORUM %}{{ SITENAME }} - {% endif %}{% if S_IN_MCP %}{{ lang('MCP') }} - {% elseif S_IN_UCP %}{{ lang('UCP') }} - {% endif %}{{ PAGE_TITLE }}{% if S_VIEWTOPIC or S_VIEWFORUM %} - {{ SITENAME }}{% endif %}</title>

{% if S_ENABLE_FEEDS %}
	{% if S_ENABLE_FEEDS_OVERALL %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ SITENAME }}" href="{{ path('phpbb_feed_index') }}">{% endif %}
	{% if S_ENABLE_FEEDS_NEWS %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('FEED_NEWS') }}" href="{{ path('phpbb_feed_news') }}">{% endif %}
	{% if S_ENABLE_FEEDS_FORUMS %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('ALL_FORUMS') }}" href="{{ path('phpbb_feed_forums') }}">{% endif %}
	{% if S_ENABLE_FEEDS_TOPICS %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('FEED_TOPICS_NEW') }}" href="{{ path('phpbb_feed_topics') }}">{% endif %}
	{% if S_ENABLE_FEEDS_TOPICS_ACTIVE %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('FEED_TOPICS_ACTIVE') }}" href="{{ path('phpbb_feed_topics_active') }}">{% endif %}
	{% if S_ENABLE_FEEDS_FORUM and S_FORUM_ID %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('FORUM') }} - {{ FORUM_NAME }}" href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}">{% endif %}
	{% if S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID %}<link rel="alternate" type="application/atom+xml" title="{{ lang('FEED') }} - {{ lang('TOPIC') }} - {{ TOPIC_TITLE }}" href="{{ path('phpbb_feed_topic', { topic_id : S_TOPIC_ID } ) }}">{% endif %}
	{% EVENT overall_header_feeds %}
{% endif %}

{% if U_CANONICAL %}
	<link rel="canonical" href="{{ U_CANONICAL }}">
{% endif %}

<!--
	phpBB style name: we_universal
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by:      nextgen ( https://nextgen.gt/ )
-->

{% if S_ALLOW_CDN %}
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://cdn.jsdelivr.net/npm/webfontloader@1.6.28/webfontloader.min.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
{% endif %}
<script>
(function () {
  const key = "universaldarkhole";
  const stored = localStorage.getItem(key) || "system";

  function resolveTheme(theme) {
    if (theme === "system") {
      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    return theme;
  }

  const resolved = resolveTheme(stored);

  // Tema global (CSS)
  document.documentElement.setAttribute("data-theme", resolved);

  // Estado del switcher (CSS-only)
  document.documentElement.setAttribute("data-theme-selected", stored);
})();
</script>



<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{{ ROOT_PATH }}styles/prosilver/theme/stylesheet.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">
<link href="{{ T_STYLESHEET_LINK }}" rel="stylesheet">
<link href="{{ ROOT_PATH }}styles/prosilver/theme/responsive.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">
<link href="{{ T_THEME_PATH }}/responsive.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">

{% if S_CONTENT_DIRECTION eq 'rtl' %}
	<link href="{{ ROOT_PATH }}styles/prosilver/theme/bidi.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">
{% endif %}

{% if S_PLUPLOAD %}
	<link href="{{ ROOT_PATH }}styles/prosilver/theme/plupload.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">
{% endif %}

{% if S_COOKIE_NOTICE %}
	<link href="{{ T_ASSETS_PATH }}/cookieconsent/cookieconsent.min.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">
{% endif %}

<!--[if lte IE 9]>
	<link href="{{ ROOT_PATH }}styles/prosilver/theme/tweaks.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet">
<![endif]-->

{% EVENT overall_header_head_append %}

{{ definition.STYLESHEETS }}

{% EVENT overall_header_stylesheets_after %}
{% if NOTIFICATIONS_WEBPUSH_ENABLE %}
	{% include 'ucp_notifications_webpush.html' %}
{% endif %}

</head>
<body id="phpbb" class="nojs notouch section-{{ SCRIPT_NAME }} {{ S_CONTENT_DIRECTION }} {{ BODY_CLASS }}{% if S_USER_LOGGED_IN %} logged-in{% else %} logged-out{% endif %}">

{% EVENT overall_header_body_before %}

<div id="wrap" class="wrap">
	<a id="top" class="top-anchor" accesskey="t"></a>

	<div class="inventea-headerbar">
		<nav class="inventea-wrapper inventea-userbar">
	
			{% INCLUDE 'navbar_responsive_header.html' %}

			<ul class="linklist bulletin inventea-user-menu" role="menubar">
				{% if S_REGISTERED_USER %}
					{% EVENT navbar_header_user_profile_prepend %}
					<li id="username_logged_in" class="rightside {% if CURRENT_USER_AVATAR_HTML %} no-bulletin{% endif %}">
						{% EVENT navbar_header_username_prepend %}
						<div class="header-profile dropdown-container">
							<a href="{{ U_PROFILE }}" class="header-avatar dropdown-trigger">
							{% if CURRENT_USER_AVATAR %}{% include 'avatar.html' with {'avatar_data': CURRENT_USER_AVATAR} only %}{% else %}<img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" />{% endif %}
						
							{{ CURRENT_USERNAME_SIMPLE }}
							{{ Icon('font', 'caret-down', '', true, '', {'style': 'color: #' ~ CURRENT_USER_GROUP_COLOR}) }}
						</a>
						<div class="dropdown">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<ul class="dropdown-contents" role="menu">
								{% if U_RESTORE_PERMISSIONS %}
									<li>
										<a href="{{ U_RESTORE_PERMISSIONS }}">
											{{ Icon('font', 'rotate', lang('RESTORE_PERMISSIONS'), false) }}
										</a>
									</li>
								{% endif %}

								{% EVENT navbar_header_profile_list_before %}

								<li>
									<a href="{{ U_PROFILE }}" title="{{ lang('PROFILE') }}" role="menuitem">
										{{ Icon('font', 'sliders', lang('PROFILE'), false) }}
									</a>
								</li>
								{% if U_USER_PROFILE %}
									<li>
										<a href="{{ U_USER_PROFILE }}" title="{{ lang('READ_PROFILE') }}" role="menuitem">
											{{ Icon('font', 'user', lang('READ_PROFILE'), false) }}
										</a>
									</li>
								{% endif %}

								{% EVENT navbar_header_profile_list_after %}

								<li class="separator"></li>
								<li>
									<a href="{{ U_LOGIN_LOGOUT }}" title="{{ lang('LOGIN_LOGOUT') }}" accesskey="x" role="menuitem">
										{{ Icon('font', 'power-off', lang('LOGIN_LOGOUT'), false) }}
									</a>
								</li>
							</ul>
						</div>
						</div>
						
						{% EVENT navbar_header_username_append %}
						
					</li>
					
				{% if S_DISPLAY_PM %}
					<li class="small-icon rightside" data-skip-responsive="true">
						<a href="{{ U_PRIVATEMSGS }}" role="menuitem">
							{{ Icon('font', 'inbox', lang('PRIVATE_MESSAGES'), true) }}<strong class="badge{% if not PRIVATE_MESSAGE_COUNT %} hidden{% endif %}"> {PRIVATE_MESSAGE_COUNT}</strong>
						</a>
					</li>
				{% endif %}

				{% if S_NOTIFICATIONS_DISPLAY %}
					<li class="dropdown-container dropdown-{S_CONTENT_FLOW_END} rightside">
						<a href="{{ U_VIEW_ALL_NOTIFICATIONS }}" id="notification-button" class="dropdown-trigger">
							{{ Icon('font', 'bell', lang('NOTIFICATIONS'), true) }}<strong class="badge{% if not NOTIFICATIONS_COUNT %} hidden{% endif %}">{NOTIFICATIONS_COUNT}</strong>
						</a>

						{% include 'notification_dropdown.html' %}

					</li>
				{% endif %}

			{% EVENT navbar_header_user_profile_append %}
			{% elseif not S_IS_BOT %}
				<li class="rightside" >
					<a href="{{ U_LOGIN_LOGOUT }}" title="{{ lang('LOGIN_LOGOUT') }}" accesskey="x" role="menuitem">
						{{ Icon('font', 'power-off', lang('LOGIN_LOGOUT'), false) }}
					</a>
				</li>
				{% if S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) %}
					<li class="rightside">
						<a href="{{ U_REGISTER }}" role="menuitem">
							{{ Icon('font', 'pen-to-square', lang('REGISTER'), false) }}
						</a>
					</li>
				{% endif %}

				{% EVENT navbar_header_logged_out_content %}

			{% endif %}
<div class="theme-toggle" role="group" aria-label="Theme switcher">
  <button type="button" data-theme-option="light" aria-label="Light mode">
    <i class="fa-solid fa-sun"></i>
  </button>

  <button type="button" data-theme-option="system" aria-label="System mode">
    <i class="fa-solid fa-desktop"></i>
  </button>

  <button type="button" data-theme-option="dark" aria-label="Dark mode">
    <i class="fa-solid fa-moon"></i>
  </button>
</div>


			</ul>
		</nav>
	</div>

	<header class="inventea-header">
		{% EVENT overall_header_headerbar_before %}	
		<div class="inventea-dashboard" role="banner">
			{% EVENT overall_header_navbar_before %}
			{% INCLUDE 'navbar_header.html' %}

			<div class="inventea-sitename">
				<h1><a href="{% if U_SITE_HOME %}{{ U_SITE_HOME }}{% else %}{{ U_INDEX }}{% endif %}" title="{% if U_SITE_HOME %}{{ lang('SITE_HOME') }}{% else %}{{ lang('INDEX') }}{% endif %}">{{ SITENAME }}</a></h1>
				<span>{{ SITE_DESCRIPTION }}</span>
			</div>
		</div>
		{% EVENT overall_header_headerbar_after %}
	</header>
	<div class="inventea-wrapper inventea-content" role="main">
		{% EVENT overall_header_page_body_before %}

		{% include 'breadcrumbs.html' %}

		{% if S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) %}
			<div id="information" class="rules">
				<div class="inner">
					<strong>{{ lang('INFORMATION') }}{{ lang('COLON') }}</strong> {{ lang('BOARD_DISABLED') }}
				</div>
			</div>
		{% endif %}

		{% EVENT overall_header_content_before %}
