/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			we_universal
	Based on style:		prosilver (the default phpBB 3.2.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Melvin García ( http://www.melvingarcia.com/ )
    --------------------------------------------------------------
*/

@import url("common.css?v=3.2");
@import url("content.css?v=3.2");
@import url("cp.css?v=3.2");
@import url("forms.css?v=3.2");
@import url("responsive.css?v=3.2");

/*  Custom CSS */
ul.topiclist li.row dd {
    padding: 4px 0 0 10px;
}

.footer-row {
	font-size: 12px;
}

.dropdown-extended .header .header_settings {
	font-size: 10px;
}
